<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">

        <% if (custom_message) { %>
            <%= custom_message %>
        <% } else if (attempted_url) { %>
            This so called <span style="color: #a11b1b">"<%= attempted_url.replace(/<\/?[^>]+(>|$)/g, "") %>"</span> page doesn't exist.
        <% } else  %>
        

    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>